@font-face {
  font-family: "Righteous";
  src: url("./assets/Righteous-Regular.ttf");
}

@font-face {
  font-family: "ABZ";
  src: url("./assets/ABeeZee-Regular.ttf");
}

* {
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;

  --accent1: #ffffff;
  --accent2: #ffffff;
  --accent3: #ffffff;
  --accent4: #ffffff;

  --primary-color-light: #ffffff;

  --accent1-light: #ffffff;
  --accent2-light: #ffffff;
  --accent3-light: #ffffff;
  --accent4-light: #ffffff;
}

/* Remove Defaults */

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

li {
  list-style: none;
}

body {
  height: 100vh;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.plus-button .clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  transition: all 0.05s;
  cursor: pointer;
}

.banner {
  font-size: 96px;
  font-family: "Righteous";
  padding-left: 64px;
  border-bottom: 4px solid var(--secondary-color);
  background-color: var(--primary-color);
}

.banner-text {
  color: var(--secondary-color);
  transition: all 0.5s;
  cursor: default;
  text-shadow: -1px 1px var(--accent1), -2px 2px var(--accent2),
    -3px 3px var(--accent3), -4px 4px var(--accent4);
}

.banner-text:hover {
  text-shadow: -2px 2px var(--accent1), -4px 4px var(--accent2),
    -6px 6px var(--accent3), -8px 8px var(--accent4);
}

#main-content {
  display: flex;
  flex: 1;
  overflow: scroll;
}

#sidebar {
  width: 320px;
  text-align: center;
  border-right: 4px solid var(--secondary-color);
  height: 100%;
  padding: 32px;
  background-color: var(--accent1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#sidebar-title {
  text-transform: capitalize;
  font-size: 36px;
  font-family: "ABZ";
  padding: 8px 32px;
  border: 4px solid var(--secondary-color);
  font-weight: bolder;
  background-color: var(--primary-color);
  box-shadow: -3px 3px var(--accent3), 3px -3px var(--accent4);
}

#sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-item {
  font-family: "ABZ";
  background-color: white;
  font-size: 30px;
  padding: 8px;
  background-color: var(--accent3-light);
  box-shadow: -2px 2px var(--accent3), 2px -2px var(--accent4);
}

.sidebar-item:nth-child(2n) {
  background-color: var(--accent4-light);
}

.sidebar-item:nth-child(1) {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  box-shadow: none;
}

#project-container {
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-image: repeating-linear-gradient(
    45deg,
    var(--primary-color) 0,
    var(--primary-color) 5.5px,
    transparent 0,
    transparent 50%
  );
  background-size: 13px 13px;
  background-color: var(--primary-color-light);
  overflow: scroll;
  max-height: 100%;
}

.plus-button {
  display: flex;
  align-items: center;
  font-family: "ABZ";
  color: var(--primary-color);
  font-weight: bolder;
}

/* New Project Button */

.plus-button.new-project {
  background-color: var(--accent1);
  font-size: 32px;
  border: 2px solid var(--secondary-color);
  align-self: flex-start;
}

.plus-button.new-project:nth-child(2n) {
  background-color: var(--accent4);
}

.new-project .display-text {
  padding: 0px 32px;
  text-shadow: 2px 2px var(--secondary-color);
}

.new-project .clickable {
  width: 56px;
}

.new-project .clickable:hover {
  background-color: var(--secondary-color);
}

.new-project img {
  transition: all 0.05s;
  padding: 8px;
  filter: invert(1) drop-shadow(2px 2px var(--secondary-color));
  height: 56px;
}

/* New Project (Disabled) */

.plus-button.disabled {
  background-color: var(--primary-color);
}

.plus-button.disabled:nth-child(2n) {
  background-color: var(--primary-color);
}

.plus-button.disabled .display-text {
  padding: 0px 32px;
  color: var(--secondary-color);
  filter: contrast(0.2);
  text-shadow: none;
}

.plus-button.disabled img {
  filter: invert(0) contrast(0.2);
}

.plus-button.disabled .clickable:hover {
  background-color: var(--primary-color);
  cursor: default;
}

/**/

#project-container {
  flex: 1;
}

.project-item {
  width: 80%;
  font-family: "ABZ";
  font-size: 24px;
  border: 4px solid var(--secondary-color);
  transition: all 0.3s;
}

.project-item:hover {
  box-shadow: -5px 5px var(--accent1), 5px -5px var(--accent2);
}

.project-item:nth-child(2n):hover {
  box-shadow: -5px 5px var(--accent3), 5px -5px var(--accent4);
}

.project-item {
  position: relative;
}

.project-item.unsaved .save,
.project-item.unsaved .discard {
  position: absolute;
  left: 100%;
  height: 64px;
  border: 4px solid var(--secondary-color);
  padding: 8px;
  top: -4px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.project-item.unsaved .discard {
  top: 56px;
}

.project-item .discard {
  position: absolute;
  left: 100%;
  height: 64px;
  border: 4px solid var(--secondary-color);
  padding: 8px;
  top: -4px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.project-item .discard {
  top: -4px;
  left: 94%;
  z-index: 0;
  transition: all 0.5s;
}

.project-item:hover .discard {
  left: 100%;
}

.project-item .save:hover {
  background-color: lightgreen;
}

.project-item .discard:hover {
  background-color: lightcoral;
}

.project-item > .header {
  border-bottom: 4px solid var(--secondary-color);
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  transition: all 0.5s;

  position: relative;
  z-index: 1;
}

.project-item.unsaved > .header {
  background-color: var(--primary-color);
}

.project-item .header-left {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.project-item .project-title {
  padding: 4px 4px 4px 16px;
  font-size: 32px;
  font-weight: 900;
  color: var(--primary-color);
}

.project-item.unsaved .project-title {
  color: var(--secondary-color);
}

.project-item .header-left input {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.project-item .header-left input:focus {
  outline: 4px solid var(--accent3);
}

.project-item .plus-button {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.add-tags img {
  height: 48px;
  filter: invert(1);
  padding: 8px;
}

.add-tags .clickable:hover {
  background-color: var(--accent3);
}

.add-tags .display-text {
  padding: 0px 8px;
}

.project-item > .body {
  padding: 16px;
  background-color: var(--accent1-light);
  transition: background-color 0.3s;
  overflow: hidden;
}

.project-item:nth-child(4n-2) > .body {
  background-color: var(--accent3-light);
}

.project-item:nth-child(4n-1) > .body {
  background-color: var(--accent2-light);
}

.project-item:nth-child(4n) > .body {
  background-color: var(--accent4-light);
}

.project-item > .body.collapsed {
  transition: all 0s;
  padding: 0px 16px;
  height: 0px;
}

.project-item.unsaved > .body {
  background-color: var(--primary-color);
  height: auto;
}

.task-container > .header {
  border-bottom: 3px double var(--secondary-color);
  margin-bottom: 8px;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 1px 8px;
}

.task-item .checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  background-color: white;
}

.task-item .checkbox.completed {
  background-color: black;
}

.task-item .display-text {
  font-size: 20px;
  overflow-wrap: break-word;
  flex: 1;
}

.task-item .delete {
  visibility: hidden;
}

.task-item:hover .delete {
  visibility: visible;
}

.task-item:hover:not(:last-child) {
  background: #00000012;
}

.task-item:focus {
  outline: 1px solid var(--accent1-light);
}

.task-item input {
  font-size: 20px;
  border: 2px solid black;
  padding: 4px;
  margin-right: 4px;
}

.task-item .edit-button {
  font-size: 20px;
  padding: 4px;
  background-color: white;
  filter: invert(1);
}

.task-list .display-text.completed {
  color: grey;
  text-decoration: line-through;
}

/* New Task Button Styling */

.new-task {
  display: flex;
  gap: 4px;
}

input.add-task {
  font-family: "ABZ";
  border: 0px;
  border-bottom: 1px solid var(--secondary-color);
  font-size: 20px;
  background-color: inherit;
  justify-self: start;
}

input.add-task::placeholder {
  font-style: italic;
}

input.add-task:focus {
  outline: 0px;
}

.task-buttons {
  visibility: hidden;
  transition-delay: 2s;
}

.task-buttons:hover {
  visibility: visible;
}

.task-list .display-text:hover + .task-buttons {
  visibility: visible;
}
